<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kilanny.muslimalarm">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".AlarmRingBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.AlarmRingingService"
            android:description="@string/alarm_ringing_service_descr"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activities.EditAlarmOnboardingActivity" />
        <activity
            android:name=".activities.SelectRingtuneActivity"
            android:label="@string/title_activity_select_ringtune"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.TimeSelectActivity" />
        <activity android:name=".activities.TwoNumbersConfigActivity" />
        <activity
            android:name=".activities.ShowAlarmActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".activities.BarcodeStopConfigActivity"
            android:label="@string/title_activity_barcode_stop_config"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="default-url"
                android:value="https://mpta.com/test" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mpta.com"
                    android:path="/test"
                    android:scheme="https" />
                <data
                    android:host="mpta.com"
                    android:path="/test"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConfigOnboardingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/prayer_time_config"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CaptureBarcodeActivity" />

        <receiver
            android:name="com.metinkale.prayer.utils.TimeZoneChangedReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BootCompletedBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>